<%-include('admin_header')-%> <%-include('admin_sidebar')-%>
    <style>
      .category-select,
      .subCategory-select,
      .brand-select {
        margin-left: 22px;
        margin-top: 8px;
        height: 30px;
        width: 50px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      }
    </style>
    <div class="main-content">
      <div class="container-fluid pb-7">
        <div class="d-flex align-items-start mt-5">
          <h2 class="mb-0">Add Products</h2>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-xl-7">
            <form onsubmit=" addProduct(event)">
              <div class="from-group mt-4 pt-3">
                <label class="form-label"> Product name: </label>
                <input type="text" class="form-control" name="name" value="" />
                <p id="productNameError" class="text-danger"></p>
              </div>

              <div class="from-group mt-4">
                <label class="form-label"> Product description: </label>
                <textarea rows="4" class="form-control" name="description"></textarea>
                <p id="productDescriptionError" class="text-danger"></p>
              </div>

              <div class="from-group mt-4">
                <label class="form-label"> Price: </label>
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input type="text" class="form-control" name="price" />
                </div>
                <p id="productPriceError" class="text-danger"></p>
              </div>

              <div class="from-group mt-4">
                <label class="form-label"> Stock: </label>
                <input type="text" class="form-control" name="stock" />
                <p id="productStockError" class="text-danger"></p>
              </div>
              <div class="row mt-4">
                <div class="col-lg-12 col-md-6 p-0">
                  <select style="width: 180px" name="category" class="category-select">
                    <option value="" disabled selected>Select category</option>
                    <%category.forEach(category=> {%>
                      <option value="<%= category._id%>">
                        <%= category.categoryName%>
                      </option>
                      <%}) %>
                  </select>
                  <p id="categoryError" class="text-danger"></p>
                  <div class="from-group mt-4">
                    <label class="form-label mb-0"> Product image: </label>
                    <p class="form-text">
                      Upload a JPG or PNG. No larger than 1200px.
                    </p>
                    <input type="file" accept="image/*" class="form-control" name="image" />
                    <p id="productImageError" class="text-danger text-left"></p>

                    <input type="file" accept="image/*" class="form-control" name="image" />
                    <p id="productImageError2" class="text-danger text-left"></p>

                    <input type="file" accept="image/*" class="form-control" name="image" />
                    <p id="productImageError3" class="text-danger text-left"></p>

                    <input type="file" accept="image/*" class="form-control" name="image" />
                    <p id="productImageError4" class="text-danger text-left"></p>

                  </div>
                  <div class="d-grid gap-3 mt-5">
                    <button class="btn btn-primary btn-lg hover-lift-light" type="submit">
                      Add Product
                    </button>
                    <button class="btn btn-link">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/axios.min.js"></script>
    <script>

      async function addProduct(event) {
        event.preventDefault();
        event.target.querySelectorAll("p").forEach((element) => {
          element.textContent = "";
        });

        const formData = new FormData(event.target);
        try {
          document.getElementById('loader').classList.remove("visually-hidden")
          const response = await axios.post("/admin_product_add_post", formData);
          document.getElementById('loader').classList.add("visually-hidden")
          if (response.status === 200) {
            window.location.href = "/admin_product_view_get";
          }
        } catch (err) {
          document.getElementById('loader').classList.add("visually-hidden");
          if (err.response.status === 400) {
            const errors = err.response.data.error;
            Object.keys(errors).forEach((key) => {
              document.getElementById(key).textContent = errors[key];
            });
          } else {
            alert("Something went wrong");
          }
        }
      }
    </script>
    <%-include('admin_footer') -%>