<%-include('admin_header') -%> <%-include('admin_sidebar') -%>
<div class="main-content">
  <div class="container-fluid pb-7">
    <div class="row mt-5">
      <div class="col-xl-12">
        <div class="card h-100">
          <div class="card-header">
            <div class="card-header-title">User Managment</div>
          </div>

          <div class="table-responsive">
            <table class="table table-sm card-table table-nowrap">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone No</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="list">
                <% users.forEach((user, index)=> { %>
                <tr>
                  <td><%= index+1%></td>
                  <td><%= user.firstName%></td>
                  <td><%= user.lastName%></td>
                  <td><%= user.email%></td>
                  <td><%= user.phoneNo%></td>
                  <td>
                    <% if(user.isBlocked==false) {%>
                    <span class="text-success">●</span>
                    Active <%} else {%>
                    <span class="text-danger">●</span>
                    Blocked <%}%>
                  </td>
                 <td>
                  <% if (user.isBlocked == false) { %>
                    <button data-userid="<%= user._id %>" data-isblocked="false" class="btn btn-danger block-btn">Block</button>
                  <% } else { %>
                    <button data-userid="<%= user._id %>" data-isblocked="true" class="btn btn-success unblock-btn">Unblock</button>
                  <% } %>
                 </td>
                </tr>
                <%});%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%-include('admin_footer')-%>
</div>

<script src="/js/axios.min.js"></script>
<script>
  document.querySelectorAll('.block-btn, .unblock-btn').forEach(button => {
  button.addEventListener('click', (event) => {
    event.preventDefault();
    const userId = event.target.getAttribute('data-userid');
    const isBlocked = event.target.getAttribute('data-isblocked') === 'true';
    showConfirmationDialog(userId, isBlocked);
  });
});

function showConfirmationDialog(userId, isBlocked) {
  const action = isBlocked ? 'Unblock': 'Block'
  Swal.fire({
    icon: 'warning',
    title: 'Confirmation',
    text: `Are you sure you want to ${action} this user?`,
    showCancelButton: true,
    confirmButtonText: 'Yes',
    cancelButtonText: 'No',
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
  }).then((result) => {
    if (result.isConfirmed) {
      performAction(userId, isBlocked);
    }
  });
}

async function performAction(userId, isBlocked) {
  const action = isBlocked ? 'unblock' : 'block'
  const url = `/user_${action}/${userId}`;

  const response = await axios.post(url);
  if(response.status == 200){
    window.location.reload();
  }
}
</script>
