<%-include('admin_header')-%> <%-include('admin_sidebar')-%>

    <style>
      table.table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      table.table th,
      table.table td {
        padding: 10px;
        border: 1px solid #ccc;
      }

      table.table th {
        background-color: #f0f0f0;
        font-weight: bold;
        text-align: center;
      }

      table.table td {
        text-align: center;
      }

      table.table p {
        margin: 0;
      }
    </style>

    <div class="main-content">
      <div class="container-fluid mt-4 pt-2 mb-6">
        <!-- header -->
        <div class="d-md-flex align-items-center">
          <h3 class="mb-3 mb-md-0">Category</h3>
          <a href="/admin_category_add_get" class="btn btn-purple hover-lift-light shadow-light-sm ms-auto me-3">
            <span class="svg-icon svg-icon-sm text-white me-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>ionicons-v5-a</title>
                <line x1="256" y1="112" x2="256" y2="400" style="
                fill: none;
                stroke: #000;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 32px;
              " />
                <line x1="400" y1="256" x2="112" y2="256" style="
                fill: none;
                stroke: #000;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 32px;
              " />
              </svg>
            </span>
            Add Category
          </a>
        </div>

        <!-- report -->
        <div id="companies" class="card mt-4">

          <div class="table-responsive">
            <table class="table table-sm card-table table-nowrap">
              <thead>
                <tr>
                  <th class="col-2 text-center">Sl NO</th>
                  <th class="col-3 text-center">
                    <a class="text-dark" href="">Image</a>
                  </th>
                  <th class="col-4 text-center">
                    <a class="text-dark" href="">Category Name</a>
                  </th>
                  <th class="col-3 text-center">Actions</th>
                </tr>
              </thead>
              <tbody class="list">
                <% categories.forEach((category, index)=> { %>
                  <td class="col-2 text-center">
                    <%= index+1%>
                  </td>
                  <td class="col-3 text-center">
                    <div class="w-100 d-flex justify-content-center align-items-center">
                      <img src="<%= category.imageUrl[0].url%>" alt="Category Image" style="width: 50%; height: auto;">
                    </div>
                  </td>
                  <td class="col-4 text-center">
                    <%= category.categoryName%>
                  </td>
                  <td class="col-3 text-center">
                    <div>
                      <a href="/admin_category_edit_get/<%= category._id%>">
                        <i class="fas fa-edit" style="color: #e7bb1d;">EDIT</i>
                      </a>
                      <% if(category.isAvailable == true) {%>
                        <button class="btn btn-danger mx-5 unlistCategory" data-categoryId="<%= category._id%>" data-isAvailable="true">UNLIST</button>
                      <%} else {%>
                        <button class="btn btn-success mx-5 listCategory" data-categoryId="<%= category._id%>" data-isAvailable="false">LIST</button>
                      <%}%>
                    </div>
                  </td>
                  </tr>
                  <%})%>
                    <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%-include('admin_footer')-%>
    <script src="/js/axios.min.js"></script>
    <script>
      document.querySelectorAll('.unlistCategory, .listCategory').forEach(button => {
        button.addEventListener('click', event =>{
          event.preventDefault();
          const categoryId = event.target.getAttribute('data-categoryId')
          const isAvailable = event.target.getAttribute('data-isAvailable') == 'true';
          showConfirmationDialog(categoryId, isAvailable);
        })
      });

      function showConfirmationDialog(categoryId, isAvailable) {
        const action = isAvailable ? 'unlist' : 'list'
        Swal.fire({
          icon: 'warning',
          title: 'Confirmation',
          text: `Are you sure you want to ${action} this category?`,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
        }).then((result) => {
          if (result.isConfirmed) {
            categoryListUnlistBtn(categoryId, isAvailable);
          }
        });
      }

      async function categoryListUnlistBtn(categoryId, isAvailable){
        const action = isAvailable ? 'unList' : 'list';
        const url = `/admin_category_${action}/?categoryId=${categoryId}`;
        try{
          const response = await axios.post(url);
          if(response.status == 200){
            window.location.reload();
          }
        }catch(err){
          console.log(err);
        }
      }
    </script>