<%- include('admin_header')-%>
    <%- include('admin_sidebar')-%>

        <div class="main-content">
            <div class="container-fluid mt-4 pt-2 mb-6">
                <div id="companies" class="card mt-4">

                    <div class="table-responsive table-responsive-sm">
                        <table class="table table-sm card-table table-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-center">Order Id</th>
                                    <th class="text-center">
                                        Ordered Products
                                    </th>
                                    <th class="text-center">Ordered Date</th>
                                    <th class="text-center">Delivery Address</th>
                                    <th class="text-center">Total Amount</th>
                                    <th class="text-center">Payment Method</th>
                                    <th class="text-center">Delivery Status</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <% orders.forEach(order=> {%>
                                    <tr>
                                        <td class="text-center">
                                            <%= order.orderId%>
                                        </td>
                                        <td class="text-center">
                                            <%order.product.forEach(product=>{%>
                                                <p>
                                                    <%= product.name%>
                                                </p>
                                                <%})%>
                                        </td>
                                        <td class="text-center">
                                            <%= order.date.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %>
                                        </td>
                                        <td class="text-center">
                                            <% users.forEach(user=>{%>
                                                <% user.address.forEach(address=> {%>
                                                    <% if(address._id==order.address){%>
                                                        <p>
                                                            <%= address.name%> <br>
                                                                <%= address.email%> <br>
                                                                    <%= address.phoneNo%> <br>
                                                                        <%= address.streetAddress %> <br>
                                                                            <%= address.city%> <br>
                                                                                <%= address.pinCode%> <br>
                                                                                    <%= address.state%>
                                                        </p>
                                                        <%}%>
                                                            <%})%>
                                                                <%})%>
                                        </td>
                                        <td class="text-center">
                                            <span>₹</span>
                                            <%=order.total%>
                                        </td>
                                        <td class="text-center">
                                            <%= order.paymentMethod%>
                                        </td>
                                        <td class="text-center">
                                            <select class="status-select" data-order-id="<%= order._id %>">
                                                <% const statuses=["Pending", "Shipped" , "Delivered", "Cancelled", "Returned" ]; %>
                                                    <% statuses.forEach(status=> { %>
                                                        <option value="<%= status %>" <%=order.status===status
                                                            ? 'selected' : '' %>><%= status %>
                                                        </option>
                                                        <% }); %>
                                            </select>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <%- include('admin_footer')-%>

            <script src="/js/axios.min.js"></script>
            <script>
                document.querySelectorAll('.status-select').forEach(select => {
                    select.addEventListener('change', async (event) => {
                        try {
                            const newStatus = event.target.value;
                            const orderId = event.currentTarget.dataset.orderId;
                            const response = await axios.post('/admin_order_status_post', { newStatus, orderId });
                        } catch (err) {
                            console.log(err);
                        }
                    })
                })
            </script>