<%-include('header') -%>

  <div class="container">
    <div class="row" style="margin-top: 10%;">
      <!--Sidebar-->
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
        <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
        <div class="sidebar_tags">
          <!--Categories-->
          <div class="sidebar_widget categories filter-widget">
            <div class="widget-title">
              <h2>Categories</h2>
            </div>
            <div class="widget-content">
              <ul class="sidebar_categories">
                <%categories.forEach(category=> {%>
                  <li class="level1"><a href="/user_category_product_view_get?category=<%= category._id%>" class="site-nav">
                      <%= category.categoryName%>
                    </a></li>
                  <%})%>
              </ul>
            </div>
          </div>
          <!--Categories-->
          <!--Price Filter-->
          <div class="sidebar_widget filterBox filter-widget">
            <div class="widget-title">
              <h2>Price</h2>
            </div>
            <form action="#" method="post" class="price-filter">
              <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="no-margin"><input id="amount" type="text"></p>
                </div>
                <div class="col-6 text-right margin-25px-top">
                  <button class="btn btn-secondary btn--small">filter</button>
                </div>
              </div>
            </form>
          </div>
          <!--End Price Filter-->
          <!--Size Swatches-->
          <div class="sidebar_widget filterBox filter-widget size-swacthes">
            <div class="widget-title">
              <h2>Size</h2>
            </div>
            <div class="filter-color swacth-list">
              <ul>
                <li><span class="swacth-btn checked">XS</span></li>
                <li><span class="swacth-btn">S</span></li>
                <li><span class="swacth-btn">M</span></li>
                <li><span class="swacth-btn">L</span></li>
                <li><span class="swacth-btn">XL</span></li>
                <li><span class="swacth-btn">XXL</span></li>
                <li><span class="swacth-btn">XXXL</span></li>
              </ul>
            </div>
          </div>
          <!--End Size Swatches-->

          <!--Popular Products-->
          <!-- <div class="sidebar_widget">
            <div class="widget-title">
              <h2>Popular Products</h2>
            </div>
            <div class="widget-content">
              <div class="list list-sidebar-products">
                <div class="grid">
                  <div class="grid__item">
                    <div class="mini-list-item">
                      <div class="mini-view_image">
                        <a class="grid-view-item__link" href="#">
                          <img class="grid-view-item__image" src="assets/images/product-images/mini-product-img.jpg"
                            alt="" />
                        </a>
                      </div>
                      <div class="details"> <a class="grid-view-item__title" href="#">Cena Skirt</a>
                        <div class="grid-view-item__meta"><span class="product-price__price"><span
                              class="money">$173.60</span></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="grid__item">
                    <div class="mini-list-item">
                      <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img
                            class="grid-view-item__image" src="assets/images/product-images/mini-product-img1.jpg"
                            alt="" /></a> </div>
                      <div class="details"> <a class="grid-view-item__title" href="#">Block Button Up</a>
                        <div class="grid-view-item__meta"><span class="product-price__price"><span
                              class="money">$378.00</span></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="grid__item">
                    <div class="mini-list-item">
                      <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img
                            class="grid-view-item__image" src="assets/images/product-images/mini-product-img2.jpg"
                            alt="" /></a> </div>
                      <div class="details"> <a class="grid-view-item__title" href="#">Balda Button Pant</a>
                        <div class="grid-view-item__meta"><span class="product-price__price"><span
                              class="money">$278.60</span></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="grid__item">
                    <div class="mini-list-item">
                      <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img
                            class="grid-view-item__image" src="assets/images/product-images/mini-product-img3.jpg"
                            alt="" /></a> </div>
                      <div class="details"> <a class="grid-view-item__title" href="#">Border Dress in Black/Silver</a>
                        <div class="grid-view-item__meta"><span class="product-price__price"><span
                              class="money">$228.00</span></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!--End Popular Products-->
          <!--Banner-->
          <!-- <div class="sidebar_widget static-banner">
            <img src="assets/images/side-banner-2.jpg" alt="" />
          </div> -->
          <!--Banner-->

        </div>
      </div>
      <!--End Sidebar-->
      <!--Main Content-->
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
        <div class="productList">
          <!--Toolbar-->
          <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
          <div class="toolbar">
            <div class="filters-toolbar-wrapper">
              <div class="row">
                <!-- <div
                  class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
                  <a href="shop-left-sidebar.html" title="Grid View" class="change-view change-view--active">
                    <img src="assets/images/grid.jpg" alt="Grid" />
                  </a>
                  <a href="shop-listview.html" title="List View" class="change-view">
                    <img src="assets/images/list.jpg" alt="List" />
                  </a>
                </div> -->
                <div
                  class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                  <span class="filters-toolbar__product-count">Showing: <%= totalCount%></span>
                </div>
                <div class="col-4 col-md-4 col-lg-4 text-right">
                  <div class="filters-toolbar__item">
                    <label for="SortBy" class="hidden">Sort</label>
                    <select name="SortBy" onchange="handleOption(this)" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                      <option value="title-ascending" selected="selected">Sort</option>
                      <option>Alphabetically, A-Z</option>
                      <option>Alphabetically, Z-A</option>
                      <option>Price, low to high</option>
                      <option>Price, high to low</option>
                    </select>
                    <input class="collection-header__default-sort" type="hidden" value="manual">
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--End Toolbar-->
          <div class="grid-products grid--view-items">
            <div class="row">
              <%products.forEach(product=> {%>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
                  <!-- start product image -->
                  <div class="product-image">
                    <!-- start product image -->
                    <a href="/user_product_details_get/<%=product._id%>">
                      <!-- image -->
                      <img class="primary blur-up lazyload" data-src="<%= product.imageUrl[0].url%>"
                        src="<%= product.imageUrl[0].url%>" alt="image" title="product">
                      <!-- End image -->
                      <!-- Hover image -->
                      <img class="hover blur-up lazyload" data-src="" src="<%= product.imageUrl[0].url%>" alt="image"
                        title="product">
                      <!-- End hover image -->
                      <!-- product label -->
                      <!-- End product label -->
                    </a>
                    <!-- end product image -->

                    <!-- Start product button -->
                    <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                      <button class="btn btn-addto-cart" type="button">Add to Cart</button>
                    </form>
                    <div class="button-set">
                      <!-- <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view"
                      data-toggle="modal" data-target="#content_quickview">
                      <i class="icon anm anm-search-plus-r"></i>
                    </a> -->
                      <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist">
                          <i class="icon anm anm-heart-l"></i>
                        </a>
                      </div>
                    </div>
                    <!-- end product button -->
                  </div>
                  <!-- end product image -->

                  <!--start product details -->
                  <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                      <a href="#">
                        <%=product.name%>
                      </a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                      <!-- <span class="old-price">$500.00</span> -->
                      <span class="price">$<%= product.price%></span>
                    </div>
                    <!-- End product price -->

                    <!-- <div class="product-review">
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star"></i>
                    <i class="font-13 fa fa-star-o"></i>
                    <i class="font-13 fa fa-star-o"></i>
                  </div> -->
                    <!-- Variant -->
                    <!-- <ul class="swatches">
                    <li class="swatch medium rounded"><img src="assets/images/product-images/variant1.jpg"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="assets/images/product-images/variant2.jpg"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="assets/images/product-images/variant3.jpg"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="assets/images/product-images/variant4.jpg"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="assets/images/product-images/variant5.jpg"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="assets/images/product-images/variant6.jpg"
                        alt="image" /></li>
                  </ul> -->
                    <!-- End Variant -->
                  </div>
                  <!-- End product details -->
                </div>
                <%}) %>
            </div>
          </div>
        </div>
        <hr class="clear">

        <!-- <div class="pagination">
          <ul>
            <li class="page"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="next"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
          </ul>
        </div> -->

        <div class="pagination">
          <ul class="nav-pagination">
            <li>
              <% if (currentPage > 1) { %>
              <a class="page" href="?page=<%= currentPage - 1 %>">Previous</a>
              <% } %>
            </li>
            <% for (let page = 1; page <= totalPages; page++) { %>
            <li>
              <a class="page" href="?page=<%= page %>"><%= page %></a>
            </li>
            <% } %>
            <li>
              <% if (currentPage < totalPages) { %>
              <a class="page" href="?page=<%= currentPage + 1 %>">Next</a>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
      <!--End Main Content-->
    </div>
  </div>

  <%-include('footer') -%>